.experience {
    padding: 120px 20px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h6 {
    margin-top: 0;
    text-align: start;
    margin-bottom: 1rem;
}

.experience h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--text-color);
}

.experience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experience-item {
    background-color: var(--card-background-color);
    padding: 0px 30px 30px 10px;
    border-radius: 10px;
    width: 60%;
    min-width: 400px;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(10, 9, 9, 0.444);
}



.experience-item h3 {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 0;
}

h5 {
    font-size: medium;
    text-align: start;
    margin-bottom: 0.7rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.tools-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-left: 2rem;
}

.experience-item p {
    color: var(--text-color);
    text-align: start;
    font: medium;
    font-size:15px;
    margin-top: 1.5rem;
}


.experience-content {
    display: flex;
    align-items: center;
}

.experience-image {
    background-color: rgba(232, 232, 232, 0.894);
    border-radius: 100%;
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 1rem;
    transition: transform 0.3s ease; 
}

.experience-image:hover {
    transform: scale(1.1); 
}

.tool-box {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    transition: all 0.3s ease;
}

.tools-icon {
    height: auto;
    margin: 0 5px 0 0;
    height: 20px;
}

.tool-box:hover{
    transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1020px) {
    .experience-item{
width: 40%;
    }

    .experience-content {
        flex-direction: column;
        /* Ordena verticalmente */
        align-items: center;
        /* Centra los elementos */
    }

    .experience-image {
        display: flex;
        width: 50%;
        margin: auto;
    }

    .experience-item p {
       width: 100%;
    }

    .experience-item h3 {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .tool-box {
        font-size: 15px;
    }
    .tools-container, h5 {
        margin-bottom: 1em;
        margin-left: 0;
    }
    .experience-item {
        background-color: var(--card-background-color);
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        width: 60%;
        min-width: 400px;
        max-width: 700px;
        box-shadow: 0 4px 8px rgba(10, 9, 9, 0.444);
    }
}