.experience {
    padding: 100px 20px;
    background-color: var(--project-background-color);
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h6 {
    margin-top: 0;
    text-align: start;
    margin-bottom: 1rem;
}

.experience h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--text-color);
}

.experience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experience-item {
    background-color: var(--card-background-color);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    width: 60%;
    min-width: 400px;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(10, 9, 9, 0.444);
}

.experience-item h3 {
    display: flex;
    align-items: start;
    /* Centra verticalmente los elementos */
    color: var(--text-color);
    text-align: start;
    margin-bottom: 0;
}

.tools-container {
    margin-top: 0;
    display: flex;
    justify-content: first baseline;
    /* Centra horizontalmente el contenedor */
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 0;
}

.experience-item p {
    color: var(--text-color);
    text-align: start;
    font: medium;
    font-size:smaller;
}


.experience-content {
    display: flex;
    align-items: center;
}

.experience-image {
    background-color: rgba(232, 232, 232, 0.894);
    border-radius: 100%;
    width: 200px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    border-radius: 10px;
    /* Bordes redondeados para la imagen */
    margin-right: 1rem;
    transition: transform 0.3s ease; /* Añade una transición para el efecto de hover */
}

.experience-image:hover {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor */
}

h5 {
    margin-right: 0.5rem;
    text-align: start;
}

.tool-box {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    /* Color de fondo del box */
    padding: 5px 10px;
    /* Espaciado interno del box */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra para el box */
    font-size: 1em;
    /* Tamaño del texto */
    margin-right: 0.1rem;
    transition: all 0.3s ease;
}

.tools-icon {
    height: auto;
    margin: 0 5px;
    /* Espaciado alrededor de los iconos */
    height: 20px;
}

.tool-box:hover{
    transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1100px) {
    .experience-item{
width: 40%;
    }

    .experience-content {
        flex-direction: column;
        /* Ordena verticalmente */
        align-items: center;
        /* Centra los elementos */
    }

    .experience-image {
        display: flex;
        width: 50%;
        margin: auto;
    }

    .experience-item p {
       width: 100%;
    }

    .experience-item h3 {
        display: flex;
        justify-content: start;
        /* Centra horizontalmente el contenedor */
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .tool-box {
        margin-right: 0.1rem;
        font-size: smaller;
        padding: 5px 10px 5px 3px;
    }
    .tools-container h5{
        display: none;
    }
}