.footer {

    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-size: 14px;
    color: #666;
}
